{% extends 'WiseFacebookBundle::layout.html.twig' %}

{% block content %}
    <section>
    	<h2>Bienvenue! Seras tu assez malin pour répondre à toutes les questions ?</h2>
    	<p><a href="{{ path('jeu') }}">Je suis chaud!</a></p>
    </section>
{% endblock %}