{% extends 'WiseFacebookBundle::layout.html.twig' %}

{% block content %}
    <p>Ca y est c'est fini :)</p>
    <br/>
    <a href="{{ path('wise_facebook_game_index') }}">Back to home</a>
{% endblock %}